body {
	background-color: #f7f7f7;
	color: #777;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}
a:focus, a:hover{text-decoration: none;}

h1 {
	/*font-family: 'Crete Round', serif;
	font-weight: bold;
    font-family: 'Open Sans', sans-serif;
	color: #444;*/
	font-size: 45px;
	margin-bottom: 20px;
}

h2 {
	font-weight: 300;	
	font-size: 55px;
	text-transform: uppercase;
    margin-bottom: 20px;
	/*
    color: #444;
    text-align: center;
    */	
}

h3 {
	font-size: 30px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	margin-bottom: 20px;
	/*color: #444;
	font-weight: bold;
	text-transform: uppercase;*/
}

h5 {
	font-size: 20px;
    margin-bottom: 20px;
    /*
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
    */
}
h6{
    font-size: 14px;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #02b8dd;
}

strong {
	font-weight: bold;
}

small {
	font-size: 13px;
	color: #777;
	font-style: italic;
}

.clear {
	clear: both;
}
/*
.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}*/
img{max-width:100%; height: auto; border:0; outline:none;}
/*======================= Section 1: Header ======================== */
header {
	/*eight: 120px;*/
    background-color: #f8fafa;
}

header h1 {
	float: left;
	margin-top: 20px;
    color: #FFFFFF;
    font-weight: 100;
}

header .color-hover {
	color: #02b8dd;
}

header .color-default {
    color: #FFFFFF;
}

nav {
	float: right;
}

nav ul li {
	float: left;
	display: inline-block;
	margin-top: 30px;
}

nav ul li a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 100;
	display: block;
	margin-right: 20px;
}

.top-area{position: relative; top: 0; z-index: 2;}
/* =================== Section 2: Hero Image ====================== */
#hero-image {
    position: absolute;
    top: 0;
    width: 100%;
	height: 100%;
	padding-top: 1px;
	background: url('../images/introduction.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /*text-align: center;*/
}
#hero-image .container{
    height: inherit;
}
/*
#hero-image h2 {
	margin: 180px 0 40px 0;
}*/

.button-1 {
	display: block;
	text-align: center;
    text-transform: uppercase;
	background: #FFF;
	border-radius: 3px;
	color: #111;
	width: 180px;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	/*margin: 0 auto;*/
}

.button-1:hover {
	background-color: #02b8dd;
	color: #fff;
}

/* ========================== Section 3: Features ======================== */
#features ul {
	margin: 80px 0;
	text-align: center;
}

#features ul li {
	width: 300px;
    padding-top: 140px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

#features ul li.feature-1 {
	background: url('../images/features-icon-1.png') no-repeat top center;
}
#features ul li.feature-2 {
	background: url('../images/features-icon-2.png') no-repeat top center;
}
#features ul li.feature-3 {
	background: url('../images/features-icon-3.png') no-repeat top center;
}

/* ================== Section 4: Primary Content =============== */
#primary-content {
	background-color: #f8fafa;
	padding: 60px 0;
	text-align: center;
}

#primary-content h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid #02b8dd;
	padding: 0 0 20px 0;
}

#primary-content a img {
	margin: 20px 0;
}

/* ============================= Section 5: Secondary Content ==================== */
#secondary-content {
	padding: 60px 0;
	text-align: center;
}

#secondary-content article {
	/*width: 460px;*/
	height: 270px;
	/*float: left;*/
	position:relative;
	    background-repeat: no-repeat;
}

#secondary-content article img{width:100%;}

#secondary-content article .overlay {
	background: rgba(255, 255, 255, .95);
	width: 190px;
	padding: 20px;
	position:absolute;
	top:0; left:22px;
}

article h4 {
	border-bottom: 1px solid #02b8dd;
	padding-bottom: 20px;
}

.more-link {
	border: 1px solid #02b8dd;
	color: #02b8dd;
	padding: 6px 20px;
	border-radius: 3px;
}

.more-link:hover {
	background-color: #02b8dd;
	color: #fff;
}

/* ======================= Section 6: Call to Action ============================= */
#cta {
	padding: 60px 0;
	text-align: center;
}

#cta h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid #02b8dd;
	padding: 0 0 20px 0;
}

.button-2 {
	display: block;
	margin: 0 auto;
	border: 1px solid #02b8dd;
	color: #02b8dd;
	border-radius: 3px;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}

.button-2:hover {
	background-color: #02b8dd;
	color: #fff;
}

/* ==================== Section 7: Footer ============================= */
footer {
	padding: 20px 0;
	background-color: #f0f0f0;
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}
/*
footer h5 {
    color: #E1E1E1;
}

footer p {
    color: #E1E1E1;
    margin-bottom: 10px;
}

footer a {
    color: #02b8dd;
    font-size: 12px;
}

footer a:hover {
    color: #E1E1E1;
}
*/
#footer-links {
	width: 520px;
	float: right;
}

#footer-links ul {
	width: 150px;
	float: left;
	margin-left: 20px;
}

#footer-links ul li {
	margin: 10px 0;
}